<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Grobnik Autodrom</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/sweetalert")


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">

                @Html.ActionLink("GROBNIK AUTODROM", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" }) &nbsp;

                @if (User.IsInRole("AppManager"))
                {
                    @Html.ActionLink("Novi Zahtjevi", "Index", "Admin", new { area = "" }, new { @class = "navbar-brand" }) <text>&nbsp</text>
                    @Html.ActionLink("Top Lista", "TopList", "Admin", new { area = "" }, new { @class = "navbar-brand" }) <text>&nbsp</text>

                }
            </div>
            <div class="navbar">
    
                @Html.Partial("_LoginPartial")
            </div>
            
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; Robert Thune- Borealis</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
